<div id="containerDiv">
    <div class="form-group">
        <label for="txtName">Following details have been selected, Please confirm !</label>
    </div>

    <div class="form-group">
        <label for="txtName">Job Name:</label>
        <input type="text" id="txtName" class="form-control" placeholder="Enter Here" disabled data-ng-model="Item.jobName">
    </div>

    <div class="form-group">
        <label for="txtName">Supervisor Name:</label>
        <input type="text" id="txtName" class="form-control" placeholder="Enter Here" disabled data-ng-model="Item.supervisorName">
    </div>

    <div class="form-group">
        <label for="txtName">House Type:</label>
        <input type="text" id="txtName" class="form-control" placeholder="Enter Here" disabled data-ng-model="Item.taskName">
    </div>

    <div class="form-group">
        <!--<button type="submit" class="btn btn-default" data-ng-click="save()">Save</button>
        <button type="submit" class="btn btn-default" data-ng-click="cancel()">Cancel</button>	-->
        <a href="" class="btn btn-primary" data-ng-click="save()">Save</a>
        <a href="" class="btn btn-primary" data-ng-click="cancel()">Cancel</a>
    </div>
</div>