        <table class="table table-hover" id="table1" #eMainFrame>
            <thead align="center">
                <tr>
                    <th style="font-size: 2em; font-weight: normal;">{{appTitle}}</th>
                </tr>
            </thead>
            <tbody>
                

                <tr *ngFor="let item of data" id="tr1">
                    <td>
                        <a
                            style="color: blue; display: block; height: 100%; width: 100%;"
                            [href]="item.hyperlink"
                            target="item.hyperlinkTarget">{{ item.hyperlinkTitle }}
                        </a>                        
                    </td>
                </tr>
            </tbody>
        </table>