<div [formGroup]="directorForm">
  <div class="form-row">
    <div class="form-group col">
      <label class="col-form-label" attr.for="{{ 'directorSurnameId-' + i }}">Surname</label>
      <input class="form-control" id="{{ 'directorSurnameId-' + i }}" type="text" placeholder="Surname" formControlName="directorSurname"
      />
    </div>
    <div class="form-group col">
      <label class="col-form-label" attr.for="{{ 'directorFirstnameId-' + i }}">First and Middle name</label>
      <input class="form-control" id="{{ 'directorFirstnameId-' + i }}" type="text" placeholder="First and Middle Name" formControlName="directorFirstname"
      />
    </div>
    <div class="form-group col">
      <label class="col-form-label" attr.for="{{ 'directorTfnId-' + i }}">Tax File Number (TFN)</label>
      <input class="form-control" id="{{ 'directorTfnId-' + i }}" type="text" placeholder="Tax File Number" formControlName="directorTfn"
      />
    </div>
    <div class="w-100"></div>
    <div class="form-group col">
      <label class="col-form-label" attr.for="{{ 'directorDobId-' + i }}">Date of Birth</label>
      <input class="form-control" id="{{ 'directorDobId-' + i }}" type="date" placeholder="DOB" formControlName="directorDob" />
    </div>
    <div class="form-group col">
      <label class="col-form-label" attr.for="{{ 'directorBirthPlaceId-' + i }}">Place of Birth(Town and Country)</label>
      <input class="form-control" id="{{ 'directorBirthPlaceId-' + i }}" type="text" placeholder="Place of Birth" formControlName="directorBirthPlace"
      />
    </div>
    <div class="form-group col">
      <label class="col-form-label" attr.for="{{ 'directorAddressId-' + i }}">Residential Address</label>
      <input class="form-control" id="{{ 'directorAddressId-' + i }}" type="text" placeholder="Residential Address" formControlName="directorAddress"
      />
    </div>
    <div class="w-100"></div>
    <div class="form-group col">
      <label class="col-form-label" attr.for="{{ 'directorPhoneId-' + i }}">Contact Number</label>
      <input class="form-control" id="{{ 'directorPhoneId-' + i }}" type="number" placeholder="Phone" formControlName="directorPhone"
      />
    </div>
    <div class="form-group col">
      <label class="col-form-label" attr.for="{{ 'directorEmailId-' + i }}">Email Address</label>
      <input class="form-control" id="{{ 'directorEmailId-' + i }}" type="email" placeholder="Email" formControlName="directorEmail"
      />
    </div>
    <div class="form-group col">
      <label class="col-form-label" attr.for="{{ 'directorDlId-' + i }}">Driver's License & State of Issue</label>
      <input class="form-control" id="{{ 'directorDlId-' + i }}" type="text" placeholder="Driving License" formControlName="directorDl"
      />
    </div>
    
    <div class="w-100"></div>

    <div [formGroup]="directorPositionChildArray" class="container"> <!--  class="col-md-12 col-lg-12 col-xl-12" -->
      <div class="form-group row">
        <div class="col-sm-4 col-md-4 col-lg-3">Position with the company: </div>
        <div class="col-sm-8 col-md-8 col-lg-9"><!--  col-md-7 col-lg-7 col-xl-7 -->
          <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="director"  formControlName="posDirector"> Director
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="secretary"  formControlName="posSecretary"> Secretary
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="publicOfficer"  formControlName="posPublicOfficer"> PublicOfficer
            </label>
          </div>
        </div>
      </div>
    </div>
  



  </div>
</div>