    <div class="container-fluid" id="banner">
        <div class="row">
            <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2" id="bannerIcon1">

            </div>-->
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8" id="bannerIcon2">
                <!--<span><b>" Your Growth Our Success "</b></span>-->
                <p>
                    <span class="firstcharacter">Y</span>our
                </p>
                <p>
                    <span>Growth</span>
                </p>
                <p>
                    <span class="firstcharacter">O</span>ur
                </p>
                <p>
                    <span>Success</span>
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4" id="bannerIcon3">
                <ul class="social-network social-circle">
                    <li><a href="https://www.facebook.com/aerrytax" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.facebook.com/aerrytax" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/aerrytax" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>