<!--  <div class="container"> --> 

  <div class="card">
  <div class="card-header">
    Company Registeration
  </div>
  <div class="card-body"> 
    <form 
        novalidate autocomplete="off"
          (ngSubmit)="save()"
          [formGroup]="crForm">

              <fieldset>
                    <div formGroupName="nameGroup"> 
                        <div class="form-group row">
                            <label class="col-md-4 col-lg-4 col-form-label" 
                                [ngClass]="{'invalid-feedback': cr.name1 }"
                                for="name1Id">First Name</label>
                            <div class="col-md-8 col-lg-8">
                                <input class="form-control" 
                                    [ngClass]="{'is-invalid': cr.name1 }"
                                    id="name1Id" 
                                    type="text" 
                                    placeholder="Name (required)"
                                    formControlName="name1"/>

                                <span class="form-text" *ngIf="cr.name1"
                                    [ngClass]="{'invalid-feedback': cr.name1 }">
                                    {{cr.name1}}
                                </span>
                            </div>
                        </div>                                               
                          <div class="form-group row">
                            <label class="col-md-4 col-lg-4 col-form-label" 
                                [ngClass]="{'invalid-feedback': cr.name2 }"
                                for="name2Id">Second Name</label>
                            <div class="col-md-8 col-lg-8">
                                <input class="form-control" 
                                    [ngClass]="{'is-invalid': cr.name2 }"
                                    id="name2Id" 
                                    type="text" 
                                    placeholder="Name (required)"
                                    formControlName="name2"/>
                                <span class="form-text" *ngIf="cr.name2"
                                    [ngClass]="{'invalid-feedback': cr.name2 }">
                                    {{cr.name2}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-lg-4 col-form-label" 
                            [ngClass]="{'invalid-feedback': cr.commencementDate }"
                            for="commencementDateId">Date</label>
                        <div class="col-md-8 col-lg-8">
                            <input class="form-control" 
                                [ngClass]="{'is-invalid': cr.commencementDate }"
                                id="commencementDateId" 
                                type="text" 
                                placeholder="Date (required)"
                                formControlName="commencementDate"/>
                            <span class="form-text" *ngIf="cr.commencementDate"
                                [ngClass]="{'invalid-feedback': cr.commencementDate }">
                                {{cr.commencementDate}}
<!--                                 <span *ngIf="crForm.get('commencementDate').errors.greaterThanToday">
                                    The first name must be longer than 2 character.
                                </span> -->
                            </span>
                        </div>
                    </div> 

                    <div class="form-group row">
                      <label class="col-md-4 col-lg-4 col-form-label">Type of Company</label>  
                      <div class="col-md-8 col-lg-8">
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" value="public" 
                                formControlName = "companyType"> Public
                                <!-- (click) = "setNotification('public')"> Public -->
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" value="proprietory" 
                                formControlName = "companyType"> Proprietory
                                <!-- (click) = "setNotification('proprietory')"> Proprietory -->
                          </label>
                        </div>
                      </div>
                    </div>


                    <div class="">
                        <div formGroupName="directorInfoGroup"> 
                            <div class="form-group row">
                                <label class="col-md-4 col-lg-4 col-form-label" 
                                    [ngClass]="{'invalid-feedback': cr.directorSurname }"
                                    for="surnameId">Surname</label>
                                <div class="col-md-8 col-lg-8">
                                    <input class="form-control" 
                                        [ngClass]="{'is-invalid': cr.directorSurname }"
                                        id="surnameId" 
                                        type="text" 
                                        placeholder="Surname (required)"
                                        formControlName="directorSurname"/>

                                    <span class="form-text" *ngIf="cr.directorSurname"
                                        [ngClass]="{'invalid-feedback': cr.directorSurname }">
                                        {{cr.directorSurname}}
                                    </span>
                                </div>
                            </div>
                             <div class="form-group row">
                                <label class="col-md-4 col-lg-4 col-form-label" 
                                [ngClass]="{'invalid-feedback': cr.directorEmail }"
                                    for="directorEmailId">Director's Email</label>
                                <div class="col-md-8 col-lg-8">
                                    <input class="form-control" 
                                        id="directorEmailId" 
                                        type="email" 
                                        placeholder="Email (required)" 
                                        formControlName="directorEmail"
                                        [ngClass]="{'is-invalid': cr.directorEmail }" />
                                    <span class="form-text" 
                                            *ngIf="cr.directorEmail"
                                            [ngClass]="{'invalid-feedback': cr.directorEmail }">
                                        {{cr.directorEmail}}
                                    </span>
                                </div>
                            </div>                            
<!--                              <div class="form-group row">
                                <label class="col-md-4 col-lg-4 col-form-label" 
                                [ngClass]="{'invalid-feedback': emailMessage }"
                                    for="directorEmailId">Director's Email</label>
                                <div class="col-md-8 col-lg-8">
                                    <input class="form-control" 
                                        id="directorEmailId" 
                                        type="email" 
                                        placeholder="Email (required)" 
                                        formControlName="directorEmail"
                                        [ngClass]="{'is-invalid': emailMessage }" />
                                    <span class="form-text" 
                                            *ngIf="emailMessage"
                                            [ngClass]="{'invalid-feedback': emailMessage }">
                                        {{emailMessage}}
                                    </span>
                                </div>
                            </div>                              -->
                            <div class="form-group row">
                                <label class="col-md-4 col-lg-4 col-form-label" for="directorPhoneId"
                                [ngClass]="{'invalid-feedback': cr.directorPhone }"                                
                                    >Director's Phone
                                </label>
                                <div class="col-md-8 col-lg-8">
                                    <input class="form-control" 
                                        id="directorPhoneId" 
                                        type="number" 
                                        placeholder="Director's Phone" 
                                        formControlName = "directorPhone" 
                                        [ngClass]="{'is-invalid': cr.directorPhone }"/>
                                    <span class="form-text" *ngIf="cr.directorPhone"
                                        [ngClass]="{'invalid-feedback': cr.directorPhone }">
                                        {{cr.directorPhone}}
                                    </span>
                                </div>
                            </div>                                                      
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12 col-lg-12">
                            <span>
                                <button class="btn btn-primary"
                                        type="submit"
                                        [disabled]="!crForm.valid">
                                    Save
                                </button>
                            </span>
                        </div>
                    </div>

              </fieldset>
        </form>
    </div> 
</div>  
  <!-- </div>  -->