 @import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css"; 
 @import "../../../node_modules/font-awesome/css/font-awesome.min.css"; 

html {
  position: relative;
  min-height: 100%;
}
.invalid-feedback {
    display: block;
  }
/* html, body {
	height: 100%;
}
.page-wrap {
  min-height: 100%;
	margin-bottom: -50px; 
  position: relative;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
	height: 60px; 
}
.site-footer {
  background-color: #178acc;
  color: white;
  text-align: center;
    margin-top: 2em;
    margin-bottom: 0em;
    padding: 20px;  
} */