<!-- <div class="page-wrap"> -->

  <app-main-navigation></app-main-navigation>

    <!-- <div class="container-fluid">
      <div class="row"> -->
        <router-outlet></router-outlet>
      <!-- </div>
    </div> -->

<footer class="footer" id="footer1">
  <div class="container">
    <span class="text-muted">
      Made with <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>️ by Vaibhav
    </span>
  </div>
</footer>  
<!-- </div> -->
<!-- <div class="site-footer">
         <div class="container text-center">
            <small>© Copyright 2017, Aerry Tax & Accounting Pty Ltd</small>
        </div>
</div> -->
