<!doctype html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.2.5/i18n/angular-locale_da-dk.js"></script>
    <!--   <script src="/Scripts/mainApp.js"></script>
    <script src="/Scripts/studentController.js"></script>  -->
</head>
<body>
    <div ng-app="myapp">
        <b>1. Repeat</b>
        <div class="Row" ng-init="person=[{ name: 'Vishal', city: 'Jalandhar' }, { name: 'Naveen', city: 'Patna' }, { name: 'Peter', city: 'New York'}]">
            <p>
                Enter your Name:
                <input type="text" ng-model="name1">{{name1}}</p>
            <p>
                Hello <span ng-bind="name"></span>!</p>
            <ol>
                <li ng-repeat="p in person">{{ 'Name:- ' + p.name + ', Locale:- ' + p.city }}</li>
            </ol>
            <ul>
                <li ng-repeat="p in person">{{ 'Name and Locale:- ' + p.name +", "+ p.city }}</li>
            </ul>
        </div>
        <b>2. Expressions</b>
        <div class="Row" ng-init="quantity=1; cost=30; student={firstname:'Mahesh',lastname:'Parashar',rollno:101}; marks=[80,90,75,73,60]">
            <p>
                Hello {{student.firstname + " " + student.lastname}}!</p>
            <p>
                Expense on Books : Rs {{cost * quantity}}/-</p>
            <p>
                Roll No: {{student.rollno}}</p>
            <p>
                Marks(Math): {{marks[3]}}</p>
        </div>
        <b>3. Controllers</b>
        <div class="Row">
            <b>3a. Controller</b>
            <div class="Cell" ng-controller="HelloController">
                <!--<h2>Welcome {{helloTo.title}} to the world of Tutorialspoint!</h2>-->
                <h2>
                    Welcome {{title}} to the world of Tutorialspoint!</h2>
            </div>
            <b>3b. Controller </b>
            <div class="Cell" ng-controller="HelloController">
                <!--<h2>Welcome {{helloTo.title}} to the world of Tutorialspoint!</h2>-->
                <h2>
                    Welcome {{fName + ' ' + lName}} to the world of Tutorialspoint!</h2>
                <h2>
                    Welcome {{fullName()}}
                </h2>
            </div>
            <b>3c. Controller Repeat</b>
            <div class="Cell" ng-controller="HelloController">
                Enter Filter Value:
                <input type="text" ng-model="subjectName">
                <ul>
                    <li ng-repeat="cd in collectiveData | filter: subjectName | orderBy:'city' ">{{ cd.name
                        + '-' + cd.city }}</li>
                </ul>
                <p>
                    Roll No: {{data.rollno}}</p>
                <p>
                    Marks(Math): {{marks[3]}}</p>
            </div>
            <b>3d. Controller</b>
            <div class="Cell" ng-controller="HelloController">
                Enter first name:
                <input type="text" ng-model="fName"><br>
                <br>
                Enter last name:
                <input type="text" ng-model="lName"><br>
                <br>
                You are entering: {{fullName() | lowercase}} and is having currency: {{moneyAmount
                | currency}}
            </div>
            <br>
            <b>3e. Controller $rootscope and $scope</b>
            <div class="Cell">
                <div ng-controller="RootScopeTest1">
                    Title: {{title}}
                    <br>
                    Money: {{moneyAmount}}
                </div>
                <div ng-controller="RootScopeTest2">
                    Title: {{title}}
                    <br>
                    Money: {{moneyAmount}}
                    <br>
                    Money: {{moneyAmount}} (RootScope)
                    <br>
                </div>
            </div>
        </div>
        <br>
        <b>4. Controller Tables and Style</b>
        <div class="Row" ng-controller="HelloController">
            <table>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        City
                    </th>
                </tr>
                <tr ng-repeat="d in collectiveData">
                    <td>
                        {{d.name}}
                    </td>
                    <td>
                        {{d.city}}
                    </td>
                </tr>
            </table>
        </div>
        <b>5. HTML DOM </b>
        <div class="Row">
            <input type="checkbox" ng-model="enableDisableButton" />Disable Button
            <button ng-disabled="enableDisableButton">
                Click Me!</button>
            <br>
            <input type="checkbox" ng-model="showHide1" />Show Button
            <button ng-show="showHide1">
                Click Me!</button>
            <br>
            <input type="checkbox" ng-model="showHide2" />Show Button
            <button ng-hide="showHide2">
                Click Me!</button>
            <br>
            <p>
                Total click: {{ clickCounter }}</p>
            <button ng-click="clickCounter = clickCounter + 1">
                Click Me!</button>
        </div>
        <b>6. FORMS Events</b>
        <br>
        <div class="Row">
            <b>6a. ng-click</b>
            <div class="Cell" ng-controller="HelloController">
                <input name="firstname1" type="text" ng-model="firstName1" required>
                <input name="lastname1" type="text" ng-model="lastName1" required>
                <input id="email1" name="email1" type="email" ng-model="email1" required>
                <button ng-click="reset()">
                    Reset</button>
            </div>
            <br>
            <b>6b. Forms and Validation</b>
            <div class="Cell" ng-controller="HelloController">
                <form name="studentForm" novalidate>
                <table border="0">
                    <tr>
                        <td>
                            Enter first name:
                        </td>
                        <td>
                            <input name="firstname1" type="text" ng-model="firstName1" required>
                            <span style="color: red" ng-show="studentForm.firstname1.$dirty && studentForm.firstname1.$invalid">
                                <span ng-show="studentForm.firstname1.$error.required">First Name is required.</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Enter last name:
                        </td>
                        <td>
                            <input name="lastname1" type="text" ng-model="lastName1" required>
                            <span style="color: red" ng-show="studentForm.lastname1.$dirty && studentForm.lastname1.$invalid">
                                <span ng-show="studentForm.lastname1.$error.required">Last Name is required.</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email:
                        </td>
                        <td>
                            <input name="email1" type="email" ng-model="email1" length="300" required>
                            <span style="color: red" ng-show="studentForm.email1.$dirty && studentForm.email1.$invalid">
                                <span ng-show="studentForm.email1.$error.required">Email is required.</span> <span
                                    ng-show="studentForm.email1.$error.email">Invalid email address.</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button ng-click="reset()">
                                Reset</button>
                        </td>
                        <td>
                            <button ng-disabled="studentForm.firstname1.$dirty && studentForm.firstname1.$invalid 
									            || studentForm.lastname1.$dirty && studentForm.lastname1.$invalid 
									            || studentForm.email1.$dirty && studentForm.email1.$invalid"
                                ng-click="submit()">
                                Submit</button>
                        </td>
                    </tr>
                </table>
                </form>
            </div>
        </div>
        <b>7. Invlude other HTML pages</b>
        <div class="Row" ng-controller="HelloController">
            <div ng-include="'/HTML/subjects.html'">
            </div>
            <div ng-include="'/HTML/main.html'">
            </div>
        </div>
        <b>8. AJAX</b>
            <div class="Row" ng-controller="HelloController_2">
                <table>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            RollNo
                        </th>
                        <th>
                            Percentage
                        </th>
                    </tr>
                    <tr ng-repeat="s in students">
                        <td>
                            {{s.Name}}
                        </td>
                        <td>
                            {{s.RollNo}}
                        </td>
                        <td>
                            {{s.Percentage}}
                        </td>
                    </tr>
                </table>
            </div>
            <b>9. Views</b>
            <div class="Row">
                <p>
                    <a href="#addStudent">Add Student</a></p>
                <p>
                    <a href="#viewStudents">View Students</a></p>
                <div ng-view>
                </div>
                <script type="text/ng-template" id="addStudent.html">
            <h2> Add Student </h2>
            {{message}}
                </script>
                <script type="text/ng-template" id="viewStudents.html">
            <h2> View Students </h2>
            {{message}}
                </script>
            </div>
            <b>10. Scope and its inheritence: Nested Controllers</b>
            <div class="Row">
                <div ng-controller="HelloController">
                    <p>
                        HelloController Message: {{title}}</p>
                    <div ng-controller="HelloController_2">
                        <p>
                            HelloController_2 Message: {{title}}</p>
                    </div>
                </div>
            </div>
            <b>11. Services</b>
            <div class="Row" ng-controller="CalcController">
                <p>
                    Enter a number:
                    <input type="number" ng-model="number" /></p>
                <button ng-click="square()">
                    X<sup>2</sup></button>
                <p>
                    Result: {{result}}</p>
            </div>
            <b>12. DEPENDENCY INJECTION</b>
            <div class="Row" ng-controller="CalcController_2">
                <p>
                    Enter a number:
                    <input type="number" ng-model="number" /></p>
                <button ng-click="square()">
                    X<sup>2</sup></button>
                <p>
                    Result: {{result}}</p>
            </div>
            <b>13. Provider </b>
            <div class="Row" ng-controller="ProviderController">
                <p>
                    Provider1: {{titleMathService1}}</p>
                <p>
                    Provider2: {{titleMathService2}}</p>
            </div>

            <br>
            <b>14. CUSTOM DIRECTIVES  </b>
            <div class="Row">
                <b>14a. Example 1</b>
                <div class="Cell" ng-controller="StudentController">
                    <student name="Mahesh"></student>
                    <br />
                    <student name="Piyush"></student>
                </div>

                <b>14b. Example 2</b>
                <div class="Cell" ng-controller="CustomersController">
                    <div my-shared-scope></div>                
                </div>
                
                <b>14c. Example 3</b>
                <div class="Cell" ng-controller="DirectiveController">
                    <div my-Customer></div>                
                </div>
            </div>

            <b>15. INTERNALIZATION </b>
            <div class="Row" ng-controller="AppController">
                {{fees | currency }}
                <br />
                <br />
                {{admissiondate | date }}
                <br />
                <br />
                {{rollno | number }}
            </div>
    </div>
    <script type="text/javascript">

        var myapp = angular.module("myapp", ['ngRoute']);

        myapp.config(['$routeProvider', function ($routeProvider) {
            $routeProvider.
        when('/addStudent', {
            templateUrl: 'addStudent.html',
            controller: 'AddStudentController'
        }).
        when('/viewStudents', {
            templateUrl: 'viewStudents.html',
            controller: 'ViewStudentsController'
        }).
        otherwise({
            redirectTo: '/addStudent'
        });
        }
]);


        myapp.controller("HelloController", function ($scope) {
            $scope.title = "AngularJS";
            $scope.moneyAmount = 23;
            $scope.collectiveData = [{ name: 'Vishal', city: 'Jalandhar' }, { name: 'Naveen', city: 'Patna' }, { name: 'Peter', city: 'New York'}];
            $scope.marks = [80, 90, 75, 73, 60];
            $scope.data = { firstname: 'Mahesh', lastname: 'Parashar', rollno: 101 }
            $scope.fName = "John";
            $scope.lName = "Doe";
            $scope.firstName1 = "Vaibhav";
            $scope.lastName1 = "Sharma";
            $scope.email1 = "vaibhav.s.sharma@accenture.com";

            $scope.fullName = function () {
                return $scope.fName + ' ' + $scope.lName;
            }
            $scope.reset = function () {
                $scope.firstName1 = "Vbhv";
                $scope.lastName1 = "Shrma";
                $scope.email1 = "v.s@accenture.com";
            }
        });


        // AJAX
        myapp.controller("HelloController_2", function ($scope, $http) {
            $scope.title = "AngularJS Text";
            var url = "/Files/data.txt";
            $http.get(url).success(function (response) {
                $scope.students = response;
            });
        });

        // Views Controller : Begin
        myapp.controller('AddStudentController', function ($scope) {
            $scope.message = "This page will be used to display add student form";
        });


        myapp.controller('ViewStudentsController', function ($scope) {
            $scope.message = "This page will be used to display all the students";
        });
        // Views Controller : End

        // Factory and Service : Begin
        myapp.value("defaultInput", 5);

        myapp.factory('MathService', function () {
            var factory = {};
            factory.multiply = function (a, b) {
                return a * b;
            }
            return factory;
        });

        myapp.service('CalcService', function (MathService) {
            this.square = function (a) {
                return MathService.multiply(a, a);
            }
        });

        myapp.controller('CalcController', function ($scope, CalcService) {
            $scope.square = function () {
                $scope.result = CalcService.square($scope.number);
            }
        });

        myapp.controller('CalcController_2', function ($scope, CalcService, defaultInput) {
            $scope.number = defaultInput;
            $scope.result = CalcService.square($scope.number);
            $scope.square = function () {
                $scope.result = CalcService.square($scope.number);
            }
        });
        // Factory and Service : End


        //Provider: Begin
        myapp.config(function ($provide) {
            $provide.provider("game1", function () {
                return {
                    $get: function () {
                        return {
                            title: "StarCraft1"
                        };
                    }
                };
            });
            $provide.provider("game2", function () {
                return {
                    $get: function () {
                        return {
                            title: "StarCraft2"
                        };
                    }
                };
            });
        });

        myapp.controller("ProviderController", function ($scope, game1, game2) {
            $scope.titleMathService1 = game1.title;
            $scope.titleMathService2 = game2.title;
        });
        //Provider: End

        // $rootscope and $scope : Begin
        myapp.controller("RootScopeTest1", function ($scope, $rootScope) {
            $scope.title = "AngularJS";
            $rootScope.moneyAmount = 26;
        });

        myapp.controller("RootScopeTest2", function ($scope, $rootScope) {
            $scope.title = "AngularJS by Google";
            $scope.moneyAmount = $rootScope.moneyAmount;
        });

        // $rootscope and $scope : End

        // Custom Directive 1 : Begin
        myapp.directive('student', function () {
            var directive = {};
            directive.restrict = 'E';
            directive.template = "Student: <b>{{student.name}}</b> , Roll No: <b>{{student.rollno}}</b>";
            directive.scope = {
                student: "=name"
            }
            directive.compile = function (element, attributes) {
                element.css("border", "1px solid #cccccc");
                var linkFunction = function ($scope, element, attributes) {
                    element.html("Student: <b>" + $scope.student.name + "</b> , Roll No: <b>" + $scope.student.rollno + "</b><br/>");
                    element.css("background-color", "#ff00ff");
                }
                return linkFunction;
            }
            return directive;
        });
        myapp.controller('StudentController', function ($scope) {
            $scope.Mahesh = {};
            $scope.Mahesh.name = "Mahesh Parashar";
            $scope.Mahesh.rollno = 1;
            $scope.Piyush = {};
            $scope.Piyush.name = "Piyush Parashar";
            $scope.Piyush.rollno = 2;
        });
        // Custom Directive 1 : End

        // Custom Directive 2 : Begin
        myapp.controller('CustomersController', ['$scope', function ($scope) {
            var counter = 0;
            $scope.customer = {
                name: 'David',
                street: '1234 Anywhere St.'
            };
            $scope.customers = [
                {
                    name: 'David',
                    street: '1234 Anywhere St.'
                },
                {
                    name: 'Tina',
                    street: '1800 Crest St.'
                },
                {
                    name: 'Michelle',
                    street: '890 Main St.'
                }
            ];
            $scope.addCustomer = function () {
                counter++;
                $scope.customers.push({
                    name: 'New Customer' + counter,
                    street: counter + ' Cedar Point St.'
                });
            };
            $scope.changeData = function () {
                counter++;
                $scope.customer = {
                    name: 'James',
                    street: counter + ' Cedar Point St.'
                };
            };
        } ]);

        myapp.directive('mySharedScope', function () {
            return {
                template: 'Name: {{customer.name}}<br /> Street: {{customer.street}} <br> ' 
                    + '<ul> <li ng-repeat="p in customers">{{"Name:- " + p.name + " Street:- " + p.street }}</li> </ul>'
                    //+ 'Function changeData: {{changeData()}}'
            };
        });
        // Custom Directive 2 : End

        // Custom Directive 3 : Begin
        myapp.controller('DirectiveController', ['$scope', function ($scope) {
            $scope.customer = {
                name: 'Naomi',
                address: '1600 Amphitheatre'
            };
        } ]);
        myapp.directive('myCustomer', function () {
          return {
            templateUrl: 'my-customer.html'
          };
        });
        // Custom Directive 3 : End
        myapp.controller('AppController', function ($scope) {
            $scope.fees = 100;
            $scope.admissiondate = new Date();
            $scope.rollno = 123.45;
        });

    </script>
    <style type="text/css">
        table, th, td
        {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
        table tr:nth-child(odd)
        {
            background-color: #f2f2f2;
        }
        table tr:nth-child(even)
        {
            background-color: #ffffff;
        }
        
        #email1
        {
            width: 250px;
        }
        
        .Table
        {
            display: table;
        }
        .Title
        {
            display: table-caption;
            text-align: center;
            font-weight: bold;
            font-size: larger;
        }
        .Heading
        {
            display: table-row;
            font-weight: bold;
            text-align: center;
        }
        .Row
        {
            display: table-row;
            outline: thin solid;
        }
        .Cell
        {
            display: table-cell;
            border: solid;
            border-width: thin;
            padding-left: 5px;
            padding-right: 5px;
        }
    </style>
</body>
</html>
