<main>

    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                <h1>Hello World!</h1>    
                <hr />
                    <!--<div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
                    <!--<div routerLinkActive="active">-->
                <div>
                        <a [routerLink]="['']" [queryParams]="{analytics: 500}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a> |
                    </div>
                <!--<a [routerLink]="['']" [queryParams]="{analytics: 500}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a> |-->
                <input type="text" #id (input)="0"/>
                <a [routerLink]="['/user', id.value]" routerLinkActive="activeClass" [routerLinkActiveOptions]="{exact: true}">User</a>
                <hr />
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>


<hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <div>
        <h1>11. Forms</h1>
        <br />
        <a [routerLink]="['formsData']">Forms data-driven</a>
        <br />
        <a [routerLink]="['formsTemplate']">Forms template-driven</a>
    </div>
    <hr />
    <hr />
    <hr />
    <h1>Pipes</h1>
    <br />
    <app-pipes></app-pipes>
    <hr />
    <hr /><hr />
    <h1>Services HTTP</h1>
    <br />
    <app-http></app-http>
    <hr />
    <hr /><hr />
<hr />
  <h1>Hello from Angular App with Webpack</h1>
    <br />
    <fa-databinding></fa-databinding>

    <fa-lifecycle *ngIf="!delete" [bindable]="boundValue">
      <p #boundContent>{{test}}</p>
    </fa-lifecycle>
    <!--<button (click)="delete = true">Click to Delete</button> 
    <button (click)="test = 'changed value'">Click to Change Content</button>    
    <button (click)="boundValue = 2000">Click to Change Binding</button>-->  

    <input type='button' (click)="delete = true" value="Click to Delete" />
    <input type='button' (click)="test = 'changed value'" value="Click to Change Content" />
    <input type='button' (click)="boundValue = 2000" value="Click to Change Binding" />

  <!--<img src="../assets/images/angular.png">-->
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <h1>Directives</h1>
    <app-directives></app-directives>
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <h1>Service and Dependency Injection</h1>
    <br />
    <app-cmp-a></app-cmp-a>
    <hr />
    <app-cmp-b></app-cmp-b>
</main>