<div>
    <b>Test Directive</b>

    <div class="panel panel-primary">
        <div class="panel-heading">
            {{student.name}} {{student.age}}
        </div>
        <div ng-show='!!student.subject'>
            Subjects:
            <ul ng-repeat="s in student.subject">
                <li>{{s}}</li>
            </ul>
        </div>
        <div ng-show='!!student.grade'>
            {{student.grade}}
        </div>
        <div ng-show='!student.grade'>
            <!--<button class="btn btn-success" ng-click="setGrade(student)">Set Grade</button>-->
            <a class="btn btn-default glyphicon glyphicon-search" ng-click="setGrade(student)">Set Grade</a>
        </div>
    </div>
</div>