<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Contact Information</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Contact</h2>
            <table class="table borderless">
                <tr>
                    <th>Aerry Tax & Accounting Pty Ltd</th>
                </tr>
                <tr>
                    <td>Unit 1-6E, Level 1, 77-79 Ashley Street</td>
                </tr>
                <tr>
                    <td>Braybrook, VIC, 3019</td>
                </tr>
                <tr>
                    <!--<td><br /></td>-->
                </tr>
                <tr>
                    <td>
                        <table class="table borderless">
                            <tr>
                                <td>Phone :</td>
                                <td>03 9687 0010 - 30</td>
                            </tr>
                            <tr>
                                <td>Fax No:</td>
                                <td>03 9008 6381</td>
                            </tr>
                            <tr>
                                <td>Mobile :</td>
                                <td>0401150578</td>
                            </tr>
                            <tr>
                                <td>Email :</td>
                                <td>info@ataccounting.com.au</td>
                            </tr>
                            <tr>
                                <td>Office Hours:</td>
                                <td>Monday to Friday 10 Am - 6 Pm</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Weekends by Appointment only.</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ng-map zoom="11" center="[-37.790437, 144.862211]">
                            <marker position="[-37.790437, 144.862211]" />
                            <shape name="circle" radius="400" center="[-37.790437, 144.862211]" radius="4000" />
                            <control name="overviewMap" opened="true" />
                        </ng-map>
                        <!--<ng-map zoom="11" center="[-37.790437, 144.862211]">
                </ng-map>-->
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>Send Email</h2>
        <!--<div class="messages" style="border:5px solid #0e0e0e; padding:10px; border-radius: 25px;">-->
        <div class="contactSendEmail">
            <div class="contactContactUs">
                <h3>Contact Us</h3>
            </div>
            <form id="contact-form" method="post" action="contact.php" role="form">

                <div class="controls">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_name">First Name *</label>
                                <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_lastname">Last Name *</label>
                                <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_email">Email *</label>
                                <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_phone">Phone</label>
                                <input id="form_phone" type="number" min="1" max="9" name="phone" class="form-control" placeholder="Please enter your phone" required="required" data-error="Valid Phone is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_message">Message *</label>
                                <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success btn-send" value="Send message">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-muted"><strong>*</strong> These fields are required.</p>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>