<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>

    <add key="URL" value="https://networkintegration.sharepoint.com/sites/365Build/Watersun" />
    <add key="UserName" value="andrew@365build.com.au" />
    <add key="Password" value="187Ch@lleng3r" />

    <add key="JobsDataList" value="l_JobsData" />
    <add key="JobsDataColumn" value="Title" />
        
    <add key="SuppliersList" value="l_Supplier" />
    <add key="SuppliersColumn" value="SupplierCode" />    
    
    <add key="ETSData" value="ETS Data" />
    <add key="ETSDataColumn" value="ETSId" />

    <add key="ClientData" value="l_Client" />
    <add key="ClientDataColumn" value="l_job_id" />

    <add key="JobsSuppList" value="l_JobsData" />
    <add key="JobsIDColumn" value="Title" />
    <add key="JobsSuppColumn" value="Job_x0020_Supervisor" />

    <add key="workflowHistoryListID" value="A0D1C88E-3F4A-44EF-AE1D-1B9450D3652B" />
    <add key="taskListID" value="D631230F-23C1-41FA-AE02-7714BE79ED0D" />
  </appSettings>
</configuration>