<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>

    <add key="URL" value="https://networkintegration.sharepoint.com/sites/365Build/Watersun" />
    <add key="UserName" value="andrew@365build.com.au" />
    <add key="Password" value="187Ch@lleng3r" />

    <add key="JobsDataList" value="l_JobsDataDemo" />
    <add key="JobsDataColumn" value="Title" />
        
    <add key="SuppliersList" value="l_SupplierDemo" />
    <add key="SuppliersColumn" value="SupplierCode" />    
    
    <add key="ETSData" value="ETS Data" />
    <add key="ETSDataColumn" value="ETSId" />
  </appSettings>
</configuration>