<div id="exTab3" class="row">
    <div class="tab-content clearfix">
        <div class="tab-pane fade in active" id="1b">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <a href="#" class="thumbnail">
                        <img src="img/1.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2>Accounting & Bookkeeping</h2>
                <p>
                    We have been providing provide the full range of accounting and taxtion services so you can get on with running your business. We help you identify and manage tax risk, maximise opportunities, minimise your tax exposure, take realistic tax positions and comply with all ATO requirements.
                </p>
                <a href="#" class="btn btn-primary" role="button">More Info</a>
            </div>
        </div>
        <div class="tab-pane fade" id="2b">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <a href="#" class="thumbnail">
                        <img src="img/2a.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2>Taxation</h2>
                <p>
                    We have been providing range of accounting services to our customers and advising best financial solutions. When you choose Aerry Tax & Accounting as your financial partner, you gain the advantages of a complete financial services solution that is dynamic, flexible and created to satisfy your individual requirements.
                </p>
                <a href="#" class="btn btn-primary" role="button">More Info</a>
            </div>
        </div>
        <div class="tab-pane fade" id="3b">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <a href="#" class="thumbnail">
                        <img src="img/3a.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2>Payroll</h2>
                <p>
                    We have been providing range of services to our customers and advise businesses, companies and corporations and not for profit organisations on matters of tax and financial matters. With 10 years of experience handling tax returns for Australian companies, our experts take the worry out of your company tax return and help maximise returns for your business.
                </p>
                <a href="#" class="btn btn-primary" role="button">More Info</a>
            </div>
        </div>
        <div class="tab-pane fade" id="4b">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <a href="#" class="thumbnail">
                        <img src="img/4a.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2>Business Budgeting, Planning & Valuation</h2>
                <p>
                    We have been providing range of services to our customers and advise businesses, companies and corporations and not for profit organisations on matters of tax and financial matters. Entities and Business Structures is designed to bridge the gap where the commercial law departs from the taxation treatment of structures, when you are advising on the legal concepts of business organisational structures and their underlying regulations
                </p>
                <a href="#" class="btn btn-primary" role="button">More Info</a>
            </div>
        </div>
        <div class="tab-pane fade" id="5b">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <a href="#" class="thumbnail">
                        <img src="img/5.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2>Bussiness Structure - Advice & Setup</h2>
                <p>
                    We offer a range of BAS services and lodgement options to suit all small or medium businesses so you have more time in running your business well. We do Preparation of Business Activity Statements from business data, Electronic Lodgement of Business Activity Statements
                    Personalised advice on BAS provisions (including GST, PAYG, Withholdings and Instalments, Fringe Benefits Tax, Fuel Tax Credits and more).
                </p>
                <a href="#" class="btn btn-primary" role="button">More Info</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <ul class="nav nav-pills nav-justified">
        <li class="active">
            <a data-target="#1b" data-toggle="tab" class="thumbnail"><img src="img/1.jpg" alt="" />Accounting & Bookkeeping</a>
        </li>
        <li>
            <a data-target="#2b" data-toggle="tab" class="thumbnail"><img src="img/2a.jpg" alt="" /><strong>Taxation</strong> From $ 77</a>
        </li>
        <li>
            <a data-target="#3b" data-toggle="tab" class="thumbnail"><img src="img/3a.jpg" alt="" /><strong>Payroll</strong></a>
        </li>
        <li>
            <a data-target="#4b" data-toggle="tab" class="thumbnail"><img src="img/4a.jpg" alt="" /><strong>Business Services</strong></a>
        </li>
        <li>
            <a data-target="#5b" data-toggle="tab" class="thumbnail"><img src="img/5.jpg" alt="" /><strong>Business Structure</strong></a>
        </li>
    </ul>
</div>